div {
    height: 150px;
    width: 600px;
    background-color: gold;
    background-image: url("ko.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
