
#first {
    font-size: 25px;
}

.second {
    font-size: 30px;
}

.third{
    font-size: 10px;
}

a[href$="se/"] {
    color: green;
}

a[href*="mail"] {
    color: grey;
}

a[href$="com/"] {
    color: red;
}

a[href*="page"] {
    color: blue;
}
h1 {
    background-color: grey;
}

body p {
    background-color: red;
}

div > p {
    background-color: green;
}

div ~ p {
    background-color: yellow;
}

div + p {
    background: pink;
}

li {
    list-style: lower-latin;
}

a {
    text-decoration: none;
}
