
#first {
    font-size: 25px;
}

.second {
    font-size: 30px;
}

.third{
    font-size: 10px;
}

a[href$="se/"] {
    color: green;
}

a[href*="mail"] {
    color: grey;
}

a[href$="com/"] {
    color: red;
}

a[href*="page"] {
    color: blue;
}